@-webkit-keyframes menuLeft {
  0% {
    right: -360px;
  }
  100% {
    right: 0px;
  }
}

@keyframes menuLeft {
  0% {
    right: -360px;
  }
  100% {
    right: 0px;
  }
}

@-webkit-keyframes menuLeft2 {
  0% {
    right: -320px;
  }
  100% {
    right: 0px;
  }
}

@keyframes menuLeft2 {
  0% {
    right: -320px;
  }
  100% {
    right: 0px;
  }
}

@-webkit-keyframes menuLeft3 {
  0% {
    right: -300px;
  }
  100% {
    right: 0px;
  }
}

@keyframes menuLeft3 {
  0% {
    right: -300px;
  }
  100% {
    right: 0px;
  }
}

@-webkit-keyframes menuLeft4 {
  0% {
    right: -280px;
  }
  100% {
    right: 0px;
  }
}

@keyframes menuLeft4 {
  0% {
    right: -280px;
  }
  100% {
    right: 0px;
  }
}

@-webkit-keyframes menuLeft5 {
  0% {
    right: -260px;
  }
  100% {
    right: 0px;
  }
}

@keyframes menuLeft5 {
  0% {
    right: -260px;
  }
  100% {
    right: 0px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  background-color: #f3ebfa;
  color: #433388;
}

::-moz-selection {
  background-color: #433388;
  color: #f3ebfa;
}

::selection {
  background-color: #433388;
  color: #f3ebfa;
}

div#root {
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}

main section {
  overflow-x: hidden;
}