section#hero {
    width: 100%;
    padding: 50px 80px;
    margin: 50px;
}

section#hero h1 {
    width: 60%;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 60px;
}

section#hero h1 span {
    font-weight: 800;
}