@-webkit-keyframes menuLeft {
  0% {
    right: -360px;
  }
  100% {
    right: 0px;
  }
}

@keyframes menuLeft {
  0% {
    right: -360px;
  }
  100% {
    right: 0px;
  }
}

@-webkit-keyframes menuLeft2 {
  0% {
    right: -320px;
  }
  100% {
    right: 0px;
  }
}

@keyframes menuLeft2 {
  0% {
    right: -320px;
  }
  100% {
    right: 0px;
  }
}

@-webkit-keyframes menuLeft3 {
  0% {
    right: -300px;
  }
  100% {
    right: 0px;
  }
}

@keyframes menuLeft3 {
  0% {
    right: -300px;
  }
  100% {
    right: 0px;
  }
}

@-webkit-keyframes menuLeft4 {
  0% {
    right: -280px;
  }
  100% {
    right: 0px;
  }
}

@keyframes menuLeft4 {
  0% {
    right: -280px;
  }
  100% {
    right: 0px;
  }
}

@-webkit-keyframes menuLeft5 {
  0% {
    right: -260px;
  }
  100% {
    right: 0px;
  }
}

@keyframes menuLeft5 {
  0% {
    right: -260px;
  }
  100% {
    right: 0px;
  }
}